@import url("https://fonts.cdnfonts.com/css/pokemon-solid");
:root {
  --fire: rgba(255, 25, 0, 0.552);
  --grass: rgba(59, 199, 24, 0.745);
  --water: rgba(0, 162, 255, 0.608);
  --bug: rgba(31, 1, 71, 0.645);
  --electric: rgba(169, 152, 0, 0.583);
  --ice: rgba(173, 216, 230, 0.563);
  --psychic: rgba(255, 20, 145, 0.599);
  --rock: rgba(53, 52, 51, 0.664);
  --ground: rgb(222, 184, 135);
  --flying: rgba(15, 187, 255, 0.612);
  /* --bug: rgb(107, 142, 35); */
  --poison: rgb(160, 32, 240);
  --dragon: rgba(0, 0, 139, 0.556);
  --ghost: rgba(71, 61, 139, 0.615);
  --dark: rgba(47, 79, 79, 0.697);
  --steel: rgba(169, 169, 169, 0.74);
  --fairy: rgba(255, 182, 208, 0.708);
  --fighting: rgba(139, 69, 19, 0.55);
  --normal: rgba(192, 192, 192, 0.598);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: rgb(243, 35, 3);
  background: linear-gradient(
    90deg,
    rgba(23, 15, 181, 0.661) 0%,
    rgba(72, 34, 1, 0.812) 35%,
    rgba(113, 0, 114, 0.862) 100%
  );
  justify-content: center;
  /* align-items: center; */
  /* flex-wrap: wrap; */
}
header {
  background-color: mediumslateblue;
  width: 100%;
  /* height: 30vh; */
}
.pokedesk {
  background-color: rgba(127, 136, 255, 0.692);
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0px;

  /* flex-wrap: wrap; */
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}
.nav a {
  border-radius: 10px;
  /* color: rgb(0, 0, 0); */
  font-size: 1.2rem;
  letter-spacing: 5px;
  padding: 10px;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  /* box-shadow: 5px 0px 5px black, -5px 5px 5px black; */
  opacity: 0.8;
}
.nav a::after {
  margin-right: auto;
}
.nav a::after {
  content: "";
  width: 0%;
  height: 2px;
  /* padding: 10px; */
  display: block;
  background: #f44336;
  transition: 0.7s ease;
}

.nav a:hover::after {
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
.pokemonbox {
  padding: 4px 5px;
  /* width: max-content; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 240, 240, 0.302);
  font-size: 1.2rem;
  width: 300px;
  min-width: 10rem;
  max-width: 20rem;
  /* letter-spacing: 5px; */
  /* box-shadow: 2px 2px 5px rgba(0, 3, 1, 0.252); */
  /* border: 1px solid black; */
  color: rgb(0, 0, 0) !important;
  border-radius: 15px;
  text-transform: capitalize;
  font-weight: 600;
  box-shadow: 0px 0px 14px rgb(0, 9, 89);
}
.pokemonbox img {
  width: 100%;
}
.fire {
  background-color: var(--fire);
  color: rgba(11, 0, 0, 0.575);
}
.grass {
  background-color: var(--grass);
  color: rgb(255, 255, 255);
}
.water {
  background-color: var(--water);
  color: rgb(255, 255, 255);
}
.bug {
  background-color: var(--bug);
  color: white;
}
.container div:hover {
  color: rgba(255, 255, 255, 0.654);
  /* transition: 0.8s ease; */
  /* color: rgba(0, 0, 0, 0.527); */
  /* box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.718),
    -5px 5px 7px rgba(0, 0, 0, 0.715); */
}
.newpage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.newpage button {
  width: 2rem;
  height: 2rem;
  border-radius: 10000px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.newpage button:hover {
  color: #fff;
  cursor: pointer;
  background: #000;
}
.pagetrack {
  background-color: rgba(102, 255, 0, 0.898);
}
